:root {
    --white-color: #fff;
    --blue-color: #0672ff;
    --dark-blue-color: #0036e7;
}

button {
    padding: 16px 24px;
    font-size: 16px;
    background-color: var(--blue-color);
    color: var(--white-color);
    border: 0;
    border-radius: 4px;
}

button:focus {
    outline: none;
}

button:active {
    background-color: var(--dark-blue-color);
}

/*
  If the user has expressed their preference for
  reduced motion, then don't use animations on buttons.
*/
@media (prefers-reduced-motion: reduce) {
    button {
        animation: none;
    }
}

/*
  If the browser understands the media query and the user
  explicitly hasn't set a preference, then use animations on buttons.
*/
@media (prefers-reduced-motion: no-preference) {
    button {
        animation: bubble 1s ease-in-out infinite alternate;
    }
}